.cache
.gnupg
.vscode-server
.bash*
.profile
.selected_editor
.wget-hsts
**/vendor
.gitconfig
.ssh
.npm
test*.*
node_modules
.viminfo
/.config/
/.local/
.dotnet/corefx/cryptography/crls/*.crl
**/shoelace/assets/*
